{% extends 'base.html' %} {% block content %}
<div class="container py-3">
  <div class="card p-4">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="row">
        
        <div class="col-md-6 mb-3">
          {{ form.product.label }} {{ form.product }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.provider.label }} {{ form.provider }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.quantity.label }} {{ form.quantity }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.weight_length.label }} {{ form.weight_length }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.location.label }} {{ form.location }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.building.label }} {{ form.building }}
        </div>
        <div class="col-md-6 mb-3">{{ form.room.label }} {{ form.room }}</div>
        <div class="col-md-6 mb-3">{{ form.hall.label }} {{ form.hall }}</div>
        <div class="col-md-6 mb-3">{{ form.shelf.label }} {{ form.shelf }}</div>

      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}
