{% extends 'base.html' %} 
{% load static %}

{% block extra_styles %}
{{ form.media.css }}
<style>
  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single {
    height: 38px !important;
  }
</style>
{% endblock extra_styles %}

{% block content %}

<h1>Editar Produto</h1>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  {{ form.as_p }} <!-- Aqui renderizamos o formulário como no template de referência -->
  
  <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>

{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{{ form.media.js }}
{% endblock extra_scripts %}
